label
{
	float:left;
	width:90px;
	margin-top:12px;
	clear:left;
	margin-left:60px;
	color:#003366;
	font-size:18px;
}

#form_item1
{
	margin-top:8px;
	height:40px;
	width:250px;
	margin-right:50px;	
	border-radius:5px;
}

#form_item2
{
	margin-top:12px;
	margin-right:80px;
	width:250px;
	border-radius:15px;
}
.form-basic
{
	width:500px;
	height:400px;
	border:1px solid #003366;
	margin-left:200px;
	margin-top:80px;
	border-radius:30px;
	box-shadow: 5px 5px 5px skyblue;
}

#form_item3
{
	margin-top:20px;
	margin-left:180px;
	width:100px;
	height:30px;
	border-radius:10px;
	background-color:#003366;
	color:white;
}
.form-title
{
	text-align:center;
	color:#003366;
	margin-top:5px;
}
.form-basic img{
  position: absolute;
  left: 47%;
  width: 60px; height: 60px; margin: -30px;

}
  
