.container.form-basic
{
}
label
{
	float:left;
	width:90px;
	margin-top:12px;
	clear:left;
	margin-left:60px;
	color: #4d0026;
	font-size:18px;
}

#form_item1
{
	margin-top:8px;
	height:40px;
	width:250px;
	margin-right:50px;	
	border-radius:5px;
}

.form-basic
{
	width:500px;
	height:300px;
	border:1px solid  #00cc88;
	margin-left:380px;
	margin-top:80px;
	border-radius:30px;
	box-shadow: 3px 3px 3px yellow;
}

#form_item3
{
	margin-top:20px;
	margin-left:180px;
	width:100px;
	height:30px;
	border-radius:10px;
	background-color: #4d0026;
	color:white;
}
.form-title
{
	text-align:center;
	color: #4d0026;
	margin-top:50px;
}
.form-basic img{
  position: absolute;
  left: 47%;
  width: 60px; height: 60px; margin: -30px;
 
}
